mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content {
    padding: 10px;
}

mat-sidenav {
    background-color: gray;
    width: 25%;
}

.Nav{
    background-color: gray;
}

a{
    background-color: rgb(173, 171, 171);
}

.active{
    background-color: white;
}
